

<ion-content class="home" >

  <ion-card class="bg-transparent" >
       <img height="150" src="../../assets/images/bg_01.jpg" alt="image">
   
       <ion-card-header>
      <ion-card-title class="title"> Welcome to Sek'Clean Car-Wash</ion-card-title>
      <br>
      <ion-card-subtitle class="subtitle">We clean All Types of Vehicles</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="tertiary"  (click)="signup()" expand="block"  shape="round">
      Sign Up
    </ion-button>
    <br>
    <ion-button color="light" (click)="signin()" expand="block" fill="outline" shape="round">
      Sign In
    </ion-button>
  </ion-card>

</ion-content>
