
ion-content {
  --background: linear-gradient(90deg, rgb(0, 3, 7) 0%, rgb(23, 66, 139) 35%, rgb(4, 10, 22) 100%);
  border-radius: 20px 20px 28px 28px;
 
  // --background: #fff url('./../../assets/images/bg_01.jpg') no-repeat center center / cover;
}
.bg-transparent {
  img{
    height: 80%;
  }
  align-content: center;
  vertical-align:middle;
  text-align: center;
  --background: linear-gradient(90deg, rgb(1, 15, 32) 0%, rgb(23, 66, 139) 45%, rgb(1, 20, 53) 80%);
  border-radius: 20px 20px 20px 20px;
}

.title{
  color: #ffffff;
}
.subtitle{
  color: #cef2f7;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}